body {
    background: rgb(255, 255, 255);
    display : block;
}


#index {
    margin: 30px;
    display: grid;
    grid-template-columns: 15% 1fr;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

#gauche {
    align-items: center;

        padding: 10%;
        position: sticky;
        top: 0;
        height: 100vh;
        box-sizing: border-box;
        border-right: 5px solid;
        border-bottom: 0px solid;


}

.header {
    margin : 0;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: -100px;
    margin-inline-end: -50px;
    padding-inline-start: 40px;
    box-sizing: border-box;
   padding-bottom : 20px;
    border-bottom: 5px solid;
}

.header-titre{
    text-decoration: none;
    color: black;
    font-family: 'Zen Maru Gothic', sans-serif;
    font-weight: 500;
    font-size: 70px;
}

.header-sous-titre{
    text-decoration: none;
    color: black;
    font-family: 'Zen Maru Gothic', sans-serif;
    font-weight: 400;
    font-size:50px;
}


#src {
    display : block;
    padding: 3%;

}

.txt-index {
    text-align: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: 'Zen Maru Gothic', sans-serif;
    font-weight: 500;
    font-size: 100px;
}

.txt-intro {
    text-align: left;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: 'Zen Maru Gothic', sans-serif;
    font-weight: 500;
    font-size: 50px;
}



#references {

    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    gap : 20px;
    padding: 5%;
}

#references img {
    box-sizing: border-box;
    border: 5px solid;
}

.txt-ref {
    padding-left: 10%;
    text-decoration: none;
    color: black;
    font-family: 'Zen Maru Gothic', sans-serif;
    font-weight: 200;
    font-size: 50px;
}

.ref-titre {
    text-decoration: none;
    color: black;
    font-family: 'Zen Maru Gothic', sans-serif;
    font-weight: 500;
    font-size: 100px;
    margin-left : -20px;
    margin-top: 0px;

}


#recherches {

    display: grid;
    margin-left : -150px;
    margin-top : -150px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    padding: 5%;

}

#recherches_x {

    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 5%;
    gap: 20px;
}

#recherches_x_main {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 5%;
    gap: 20px;
}



.recherches_titres {
    background-color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Zen Maru Gothic', sans-serif;
    font-weight: 500;
    font-size: 70px;
    padding-top: 500px;
    margin: 0px;
    
}





.projet_video {

    display: grid;
    grid-template-columns: 1fr;
    padding-left: 5%;
    max-width: 10%;
    height: auto;
   
}

.signe_video {

    display: grid;
    grid-template-columns: 1fr;
    padding-left: 5%;
    max-width: 10%;
    height: auto;
   margin-top: -300px;
   margin-bottom: -100px;
}

.projet_specimen {


    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    padding: 5%;
    max-width: 100%;
    height: auto;
   
}

.projet_specimen_page img {

    border: 2px solid;
}

.projet_specimen_2c {


grid-column:1/4 ;
    max-width: 100%;
    height: auto;
    border: 0px solid;
}

.reflet {
    display: block;
    position: absolute;
    transform: rotate(180deg);
    top:2000px;
    right: -2000px;
    mix-blend-mode: multiply;
    width: 200%;
}



.code {

    display: block;
    margin : 0;
    margin-top : -40px;
    padding-left : 5%;
    font-family: 'Space Mono', monospace;
    font-weight: 500;
    font-size: 30px;

}