body {
    background: rgb(255, 255, 255);
    display : block;
}


#index {
    margin: 30px;
    display: grid;
    grid-template-columns: 15% 1fr;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

#gauche {
    align-items: center;

        padding: 10%;
        position: sticky;
        top: 0;
        height: 100vh;
        box-sizing: border-box;
        border-right: 5px solid;
        border-bottom: 0px solid;


}

.header {
    margin : 0;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: -100px;
    margin-inline-end: -50px;
    padding-inline-start: 40px;
    box-sizing: border-box;
   padding-bottom : 20px;
    border-bottom: 5px solid;
}

.header-titre{
    text-decoration: none;
    color: black;
    font-family: 'Zen Maru Gothic', sans-serif;
    font-weight: 500;
    font-size: 70px;
}

.header-sous-titre{
    text-decoration: none;
    color: black;
    font-family: 'Zen Maru Gothic', sans-serif;
    font-weight: 400;
    font-size:50px;
}


#src {
    display : block;
    padding: 3%;

}

.txt-index {
    text-align: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: 'Zen Maru Gothic', sans-serif;
    font-weight: 500;
    font-size: 100px;
}



#references {

    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    gap : 20px;
    padding: 5%;
}

#references img {
    box-sizing: border-box;
    border: 5px solid;
}

.txt-ref {
    padding-left: 10%;
    text-decoration: none;
    color: black;
    font-family: 'Zen Maru Gothic', sans-serif;
    font-weight: 200;
    font-size: 50px;
}

.ref-titre {
    text-decoration: none;
    color: black;
    font-family: 'Zen Maru Gothic', sans-serif;
    font-weight: 500;
    font-size: 100px;
    margin-left : -20px;
    margin-top: 0px;

}


#recherches {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 5%;
}

#recherches_x {

    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 5%;
    gap: 20px;
}


#projet {

    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
    padding: 5%;
}

#projet_video {

    display: grid;
    grid-template-columns: 1fr;
    padding: 5%;
    max-width: 10%;
    height: auto;
   
}

.code {

    display: block;
    margin : 0;
    margin-top : -40px;
    padding-left : 5%;
    font-family: 'Space Mono', monospace;
    font-weight: 500;
    font-size: 30px;


}